<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Dashboard - SarkariSahayata</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>

<body>

<div class="container-fluid">
<div class="row">

<div class="col-md-2 sticky-sidebar sticky-top">
    <h4>SarkariSahayata</h4>
    <a href="{{ url_for('admin.info_dashboard')}}">Dashboard</a>
    <a href="{{ url_for('admin.admin_dashboard')}}">Manage Schemes</a>
    <a href="{{ url_for('admin.view_user')}}">View Users</a>
    <a href="{{ url_for('home.index')}}">Homepage</a>
</div>

<div class="col-md-10 dashboard-content">

<h2 class="page-title">Add New Scheme</h2>

<form method="POST">

<div class="card-section">
<h5>Basic Information</h5>
<input type="text" name="title" class="form-control mb-3" placeholder="Scheme Title" required>

<select name="category" class="form-select" required>
<option value="">Select Category</option>
<option>Agriculture</option>
<option>Education</option>
<option>Health</option>
<option>Housing</option>
<option>Skills and Employment</option>
<option>Women and Child</option>
<option>Transport</option>
</select>
</div>

<div class="card-section">
<h5>Scheme Description</h5>
<textarea name="description" rows="4" class="form-control"></textarea>
</div>

<div class="card-section">
<h5>Benefits & Objectives</h5>
<textarea name="benefits" rows="3" class="form-control mb-3"></textarea>
<textarea name="objectives" rows="3" class="form-control"></textarea>
</div>

<div class="card-section">
<h5>Eligibility Criteria</h5>
<div class="row g-3">
<div class="col-md-4">
<input type="number" name="min_age" class="form-control" placeholder="Min Age">
</div>
<div class="col-md-4">
<input type="number" name="max_age" class="form-control" placeholder="Max Age">
</div>
<div class="col-md-4">
<input type="number" name="max_income" class="form-control" placeholder="Max Income">
</div>

<div class="col-md-4">
<select name="gender" class="form-select">
<option value="">Gender (Any)</option>
<option>Male</option>
<option>Female</option>
<option>Other</option>
</select>
</div>

<div class="col-md-4">
<select name="caste" class="form-select">
<option value="">Caste (Any)</option>
<option>General</option>
<option>OBC</option>
<option>SC</option>
<option>ST</option>
<option>Other</option>
</select>
</div>

<div class="col-md-4">
<input type="text" name="occupation" class="form-control" placeholder="Occupation">
</div>
</div>
</div>

<div class="card-section">
<h5>Application & Documents</h5>
<textarea name="application_process" rows="3" class="form-control mb-3"></textarea>
<textarea name="documents" rows="3" class="form-control"></textarea>
</div>

<button type="submit" class="btn-save">Save Scheme</button>

</form>

</div>
</div>
</div>

</body>
</html>